.DS_Store

license*
test.php
application/controllers/index.html
application/controllers/start.php
application/controllers/welcome.php
application/views/welcome_message.php
application/views/template.php
application/views/index.php
application/views/index.html
application/views/success.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
